
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.hover-effect::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 90%;
  height: 100%;
  border-bottom: 2px solid;
  border-color: conic-gradient(
    from 45deg,
    #1e293b,
    #000000
  );
  transition: left 0.4s ease;
}

.hover-effect:hover::before {
  left: 0; 
}

.hover-effect span {
  position: relative;
  z-index: 10;
}

.hover-effect-white::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  
 /* border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: conic-gradient(
    from 45deg,  
    #f3f4f6,    
    #d1d5db     
  ); */
  border-bottom: 2px solid;
  padding-bottom: 4px;

  border-color:  linear-gradient(to right, white, #cbd5e1);
  transition: left 0.4s ease;
}

.hover-effect-white:hover::before {
  left: 0; 
}

.hover-effect-white span {
  position: relative;
  z-index: 10;
}



.main-text-color {
  background-color: radial-gradient(ellipse at bottom, #f1f5f9, #ca8a04, #cbd5e1);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #000000;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}